<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("css", required: false)
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    @Styles.Render("~/Content/css")
</head>
<body>
    <header>
        @RenderSection("header", required: true) 
    </header>
    <div style="margin-top: 170px; z-index: 50">
        @RenderBody()
    </div>

    @*FOOTER*@

    <div id="footer" class="btn-toolbar" role="toolbar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1 col-sm-1 hidden-xs col-lg-1"></div>
                <div class="col-md-2 col-sm-2 col-xs-5 col-lg-2">
                    <button class="btn btn-link">CONTACT US</button>
                </div>
                <div class="col-md-2 col-sm-2 hidden-xs col-lg-2">
                    <button class="btn btn-link">TERMS & CONDITIONS</button>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2">
                    <button class="btn btn-link" onclick="@Url.Action("Index", "Home")">
                        <span class="glyphicon glyphicon-home"></span>
                    </button>
                </div>
                <div class="col-md-2 col-sm-2 hidden-xs col-lg-2">
                    <button class="btn btn-link">PRIVACY</button>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-5  col-lg-2">
                    <button class="btn btn-link">HELP CENTER</button>
                </div>
                <div class="col-md-1 col-sm-1 hidden-xs col-lg-1"></div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $(".nav-click > li").click(function () {
                //alert("yangyuan");
                window.location.href = "/Home/Index?keywords=";
            });

            $("#sign").click(function () {
                window.location.href = "/Home/SignInView";
            });

            $("#reg").click(function () {
                //window.location.href = "/Home/Profile";
                window.location.href = "/Home/SignInView";
            });

            $("#mybag").click(function () {
                window.location.href = "/Home/ShoppingBag?ClientID=ABCDE";
            });

            $("#searchButton").click(function () {
                if (isLandingPage === "True") {
                    window.location.href = "/Home/Index?keywords=" + $("#searchInput")[0].value;
                    return;
                }

                var sv = new SearchLogic();
                sv.reSet();
                sv.setInputString($("#searchInput")[0].value);

                $.ajax({
                    url: '/Home/Search',
                    type: 'POST',
                    dataType: 'html',
                    contentType: 'application/json, charset=utf-8',
                    data: JSON.stringify(sv.toJson()),
                    cache: false,
                    //beforeSend: function () {
                    //    Loading();
                    //},
                    //complete: function () {
                    //    hiddenLoading();
                    //},
                    success: function (data) {
                        $("#resultGallery").html(data);
                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    }
                });
                return false;
            });

            $('.data-menu-len').click(function () {
                window.location.href = "/Home/Index?keywords=" + $(this).attr("data-keyword");
            });
        });
    </script>
</body>
</html>
