<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("css", required: false)
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    @Styles.Render("~/Content/css")
</head>
<body>
    <header>
        @*Top header banner*@
        <div id="top-header-banner" class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="pull-left">
                        <p>
                            FOLLOW US ON 
                            <span class="glyphicon glyphicon-search"></span>
                            <span class="glyphicon glyphicon-plus"></span>
                            <span class="glyphicon glyphicon-minus"></span>
                        </p>
                    </div>
                </div>
                <div id="mybag" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="pull-right">
                        <p><span class="glyphicon glyphicon-lock"></span>My Bag(0): 0000.00</p>
                    </div>
                </div>
            </div>
        </div>

        @*Logo banner area*@
        <div id="logo-area-banner" class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="pull-left">
                        Contact Details
                    </div>
                </div>
                <div class="hidden-sm hidden-xs col-md-6 col-lg-6" id="logo-area">
                    <p>ELENI GEORGE</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="pull-right">
                        <button class="btn btn-link" id="reg">Join</button>
                        <span>|</span>
                        <button class="btn btn-link" id="sign">Sign In</button>
                    </div>
                </div>
            </div>
        </div>

        @*MENU*@
        <div id="nav-bar-container">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">

                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsed-menu">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="navbar-brand" href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"></span></a>
                    </div>

                    <div class="collapse navbar-collapse" id="collapsed-menu">
                        <ul class="nav navbar-nav">
                            <li><a class="data-menu-gen">Women</a>
                                <ul>
                                    <li><a class="data-menu-cat">Dresses</a>
                                        <ul>
                                            <li><a class="data-menu-len">Long</a></li>
                                            <li><a class="data-menu-len">Short</a></li>
                                        </ul>
                                        http://localhost:1053/Images/landingpage.jpg               </li>
                                    <li><a class="data-menu-cat">Skirts</a>
                                        <ul>
                                            <li><a class="data-menu-len">Long</a></li>
                                            <li><a class="data-menu-len">Short</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="data-menu-cat">Tops</a>
                                        <ul>
                                            <li><a class="data-menu-len">Long</a></li>
                                            <li><a class="data-menu-len">Short</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a>Men</a></li>
                        </ul>

                        <form class="navbar-form navbar-right navbar-input-group" role="search">
                            <div class="form-group">
                                <input id="searchInput" type="text" class="form-control" placeholder="Keyword">
                            </div>
                            <button type="submit" id="searchButton" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                        </form>

                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div style="margin-top: 140px; z-index: 50">
        @RenderBody()
    </div>

    @*FOOTER*@

    <div id="footer" class="btn-toolbar" role="toolbar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1 col-sm-1 hidden-xs col-lg-1"></div>
                <div class="col-md-2 col-sm-2 col-xs-5 col-lg-2">
                    <button class="btn btn-link">CONTACT US</button>
                </div>
                <div class="col-md-2 col-sm-2 hidden-xs col-lg-2">
                    <button class="btn btn-link">TERMS & CONDITIONS</button>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2">
                    <button class="btn btn-link" onclick="@Url.Action("Index", "Home")">
                        <span class="glyphicon glyphicon-home"></span>
                    </button>
                </div>
                <div class="col-md-2 col-sm-2 hidden-xs col-lg-2">
                    <button class="btn btn-link">PRIVACY</button>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-5  col-lg-2">
                    <button class="btn btn-link">HELP CENTER</button>
                </div>
                <div class="col-md-1 col-sm-1 hidden-xs col-lg-1"></div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $(".nav-click > li").click(function () {
                //alert("yangyuan");
                window.location.href = "/Home/Index";
            });

            $("#sign").click(function () {
                window.location.href = "/Home/SignInView";
            });

            $("#reg").click(function () {
                window.location.href = "/Home/Profile";
            });

            $("#mybag").click(function () {
                window.location.href = "/Home/ShoppingBag?ClientID=ABCDE";
            });

            $("#searchButton").click(function () {
                var sv = new SearchLogic();
                sv.reSet();
                sv.setInputString($("#searchInput")[0].value);

                $.ajax({
                    url: '/Home/Search',
                    type: 'POST',
                    dataType: 'html',
                    contentType: 'application/json, charset=utf-8',
                    data: JSON.stringify(sv.toJson()),
                    cache: false,
                    //beforeSend: function () {
                    //    Loading();
                    //},
                    //complete: function () {
                    //    hiddenLoading();
                    //},
                    success: function (data) {
                        $("#resultGallery").html(data);
                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    }
                });
                return false;
            });
        });
    </script>
</body>
</html>
