@model EleniGeorge.Models.ItemGalleryModel

<div class="row" style="margin-left: 0px; margin-right: 0px">
    <div style="width: 25%">
        <div class="pull-left row" style="font-size: 0.8em; width: 80%; margin-left: auto; margin-right: auto">
            <a id="pdView" href="#">PRODUCT VIEW</a>
            <span> | </span>
            <a id="otView" href="#">OUTFIT VIEW</a>
        </div>
    </div>
    <span class="pull-left" style="margin-left: -1px; color: #808080">|</span>
    
    <div class="pull-left" style="font-size: 0.8em; width: 25%">
        <div style="width: 30%; margin-left: auto; margin-right: auto">@Model.items.Count()RESULTS</div>
    </div>
    <span class="pull-left" style="margin-left: -1px; color: #808080">|</span>
    
    <div class="pull-left" style="font-size: 0.8em; width: 25%">
        <div style="width: 40%; margin-left: auto; margin-right: auto">SHOW <a id="page-20">20</a> <a id="page-200">200</a></div>
    </div>
    <span class="pull-left" style="margin-left: -1px; color: #808080">|</span>
    
    <div class="pull-left" style="margin-left: -4px; width: 25%; font-size: 0.8em">
        <div style="width: 60%; margin-left: auto; margin-right: auto; height: 15px">
            SORT BY: 
            <div class="btn-group" style="margin-top: -2px">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    Best Match
                    <span class="caret"></span>
                </button>
            
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Alfred</a></li>
                  <li><a href="#">Test</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div style="border: 1px solid #808080; height: 1px; margin: 3px 0px 0px 0px"></div>

<div class="row">

    @foreach (var item in @Model.items)
    {
        <div style="float: left; width: 24%; height: 400px; margin-top: 10px; margin-left: 1%">
            <img src="@Url.Content(@item.imgUrl)" style="height: 350px; width: 100%">
            <div class="text-center">@item.name</div>
            <div class="text-center">$@item.price</div>
        </div>
    }

</div>