@model EleniGeorge.Models.ItemGalleryModel

<div class="row" style="margin-left: 0px; margin-right: 0px">
    <div style="width: 25%">
        <div class="pull-left row" style="font-size: 0.8em; width: 80%; margin-left: auto; margin-right: auto">
            <a id="pdView" href="#">PRODUCT VIEW</a>
            <span>| </span>
            <a id="otView" href="#">OUTFIT VIEW</a>
        </div>
    </div>
    <span class="pull-left" style="margin-left: -1px; color: #808080">|</span>

    <div class="pull-left" style="font-size: 0.8em; width: 25%">
        <div style="width: 30%; margin-left: auto; margin-right: auto">@Model.Items.Count()RESULTS</div>
    </div>
    <span class="pull-left" style="margin-left: -1px; color: #808080">|</span>

    <div class="pull-left" style="font-size: 0.8em; width: 25%">
        <div style="width: 40%; margin-left: auto; margin-right: auto">SHOW <a id="page-20">20</a> <a id="page-200">200</a></div>
    </div>
    <span class="pull-left" style="margin-left: -1px; color: #808080">|</span>

    <div class="pull-left" style="margin-left: -4px; width: 25%; font-size: 0.8em">
        <div style="width: 60%; margin-left: auto; margin-right: auto; height: 15px">
            <div class="btn-group" style="margin-top: -2px">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    Sort By
                    <span class="caret"></span>
                </button>

                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Best Match</a></li>
                    <li><a href="#">Price</a></li>
                    <li><a href="#">Discount</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div style="border: 1px solid #808080; height: 1px; margin: 3px 0px 0px 0px"></div>

<div class="row">
    @if (Model.Items.Count() == 0)
    {
        <div class="container">
            No match found.
        </div>
    }
    else
    {
        foreach (var item in Model.Items)
        {
            @Html.Partial("_ItemView", item);
        }
    }


</div>

<!-- Modal -->
<div id="md" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <div class="row">
                    <div class="modal-title" id="myModalLabel" style="margin-left: 10px; margin-right: 10px">
                        <div class="pull-left" style="margin-right: 10px">
                            <span class="glyphicon glyphicon-heart"></span>
                            <br />
                            <span>save</span>
                        </div>
                        <div class="pull-left">
                            <span class="glyphicon glyphicon-share"></span>
                            <br />
                            <span>share</span>
                        </div>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div style="width: 48%" class="pull-left">
                        @*                        <img src="@Url.Content(@Model.Items.FirstOrDefault().ImgUrl)" style="margin: 5px 2%; width: 94%; height: 100%">*@
                    </div>

                    <div class="pull-left" style="width: 1px; height: 100%; border: 1px solid #808080"></div>

                    <div style="width: 50%" class="pull-right">
                        <div class="row">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active"><a href="#">DETAILS</a></li>
                                <li><a href="#">DELIVERY&RETURENS</a></li>
                                <li><a href="#">REVIEWS</a></li>
                            </ul>
                            <div id="md-content">
                                <span style="font-size: 1.1em; font-weight: bold; margin-top: 10px">Alfred Test Dress Description</span>
                                <br />
                                <span style="font-size: 0.9em; margin-top: 5px">Price: $99.88</span>
                                <br />
                                <span style="font-size: 0.9em; margin-top: 5px">Color: BLACK</span>
                                <br />
                                <span style="font-size: 0.9em; margin-top: 5px">Item Code: 35J27GBLK</span>
                                <br />
                                <span style="font-size: 0.9em; margin-top: 5px">No Reviews: </span>
                                <br />
                                <span style="font-size: 0.9em; margin-top: 5px">Alfred Test: Description2</span>
                                <br />
                                <span style="font-size: 1.1em; font-weight: bold; margin-top: 10px">SELECT UK SIZE:</span>

                                <div class="row">
                                    <div style="width: 60%" class="pull-left">
                                        <table border="0" width="100%">

                                            @for (int i = 4; i <= 16; i += 6)
                                            {
                                                <tr>
                                                    @for (int j = 0; j < 3; ++j)
                                                    {
                                                        if ((i + 2 * j) > 16) { break; }
                                                    
                                                        <td>
                                                            <div style="margin: 5px; border: 1px solid #808080" class="text-center">@(i + 2 * j)</div>
                                                        </td>
                                                    }

                                                </tr>
                                            }

                                        </table>
                                    </div>

                                    <div class="pull-left" style="margin: 8%">
                                        <button class="btn btn-sm">SIZE GUIDE</button>
                                    </div>

                                </div>

                                <br />
                                <span style="font-size: 1.1em; font-weight: bold; margin-top: 10px">COLOR:</span>

                                <br />
                                <span style="font-size: 1.1em; font-weight: bold; margin-top: 10px">QUANTILY:</span>
                                <div class="btn-group" style="">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        1
                                        <span class="caret"></span>
                                    </button>

                                    <ul class="dropdown-menu" role="menu">
                                        @for (int index = 1; index < 10; ++index)
                                        {
                                            <li><a href="#">@index</a></li>
                                            
                                        }
                                    </ul>
                                </div>
                                <label class="bg-danger">Only 2 in Stock</label>

                                <div style="margin-top: 10px; margin-left: 10%" class="row">
                                    <button id="buy" class="btn btn-lg btn-success" style="margin-top: 40px">Buy It</button>
                                    <button class="btn btn-lg btn-success" style="margin-top: 40px">Add To Bags</button>
                                    <button class="btn btn-lg btn-success" style="margin-top: 40px">Safe For Later</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
