@model EleniGeorge.Models.SiderBarModel


<div class="row" id="sidebar-header">
    <div class="col-lg-6">
        <p>
            REFINE BY:
        </p>
    </div>
    <div class="col-lg-6">
        <button class="btn btn-link">CLEAR ALL</button>
    </div>
</div>

<div class="row data-sidebar-title">
    <p>CATEGORY</p>
</div>

<div id="sidebar-cate" class="data-sidebar-content">
    <ul>
        @for (int index = 0; index < @Model.catetegories.categories.Count(); ++index)
        {
            <li class="data-two-col">
                <div class="checkbox">
                    <label>
                        <input class="searchClick" data-type="cat" data-value="@Model.catetegories.categories.ElementAt(index)" 
                            type="checkbox">@Model.catetegories.categories.ElementAt(index)
                    </label>
                </div>
            </li>   
        }
    </ul>
</div>

<div class="row  data-sidebar-title">
    <p>GENDER</p>
</div>

<div id="sidebar-gender" class="row data-sidebar-content">
    <ul>
        <li class="data-two-col">
            <div class="checkbox">
                <label>
                    <input class="searchClick" data-type="gender" type="checkbox" />M
                </label>
            </div>
        </li>
        <li class="data-two-col">
            <div class="checkbox">
                <label>
                    <input class="searchClick" data-type="gender" type="checkbox" />F
                </label>
            </div>
        </li>

    </ul>
</div>

<div class="row data-sidebar-title">
    <p>SIZE</p>
</div>

<div id="sidebar-size" class="row data-sidebar-content">
    <ul>
        @foreach (var item in @Model.sizes.sizes)
        {
            <li class="data-three-col">
                <div class="checkbox">
                    <label style="padding-left: 0px; font-size: 0.8em">
                        <input class="searchClick" data-type="size" data-value="@item" type="checkbox">@item
                    </label>
                </div>
            </li>   
        }
    </ul>
</div>

<div class="row data-sidebar-title">
    <p>Color</p>
</div>

<div id="sidebar-color" class="row data-sidebar-content">
    <ul>
        @foreach (var item in @Model.colors.colors)
        {
            <li class="data-three-col">
                <div class="checkbox">
                    <label>
                        <input class="searchClick" data-type="color" data-value="@item" type="checkbox">@item
                    </label>
                </div>
            </li>   
        }
    </ul>
</div>

<div class="pull-right">
    <button class="btn btn-link">Clear All</button>
</div>
