@model EleniGeorge.Models.HomeIndexModel

@{
    ViewBag.Title = "Index";
}

@Html.Partial("_IndexRouteLine")

<div class="row" style="margin-left: 0px; margin-right: 0px; background-color: white; margin-bottom: 35px">
    <div id="sidebar" class="col-lg-2" style="border: 1px solid #eee">
        @Html.Partial("_IndexSiderBar", @Model.siderbar)
    </div>

    <div id="resultGallery" class="col-lg-10">
        @Html.Partial("_IndexItemGallery", @Model.items)
    </div>
</div>

@section scripts {
    <script src="~/Scripts/SearchLogic.js"></script>
    <script type="text/javascript">
        var sv = new SearchLogic();

        function itemCallback() {
            $("#buy").click(function () {
                window.location.href = "/Home/PayPalPayment?price=1.0";
            });
            $(".item").click(function () {
                $("#md").modal();
            });
            $(".itemImg").click(function () {
                $("#md").modal();
            });
        };

        $(function () {
            $("#sidebar-cate").css("height", $("#sidebar-cate > ul > li").size() * 20 + 25);
            $("#sidebar-size").css("height", $("#sidebar-size > ul > li").size() / 3 * 20 + 25);
            $("#sidebar-color").css("height", $("#sidebar-color > ul > li").size() / 3 * 20 + 25);
            $(".item").click(function () {
                $("#md").modal();
            });
            $(".itemImg").click(function () {
                $("#md").modal();
            });
            $(".searchClick").click(function () {
                sv.reSet();

                $.each($(".searchClick[data-type=cat]"), function (index, item) {
                    if ($(item)[0].checked)
                        sv.addCat($(item).attr("data-value"));
                });

                $.each($(".searchClick[data-type=size]"), function (index, item) {
                    if ($(item)[0].checked)
                        sv.addSize($(item).attr("data-value"));
                });

                $.each($(".searchClick[data-type=color]"), function (indxe, item) {
                    if ($(item)[0].checked)
                        sv.addColor($(item).attr("data-value"));
                });

                sv.setInputString($("#searchInput")[0].value);

                $.ajax({
                    url: '/Home/Search',
                    type: 'POST',
                    dataType: 'html',
                    contentType: 'application/json, charset=utf-8',
                    data: JSON.stringify(sv.toJson()),
                    cache: false,
                    //beforeSend: function () {
                    //    Loading();
                    //},
                    //complete: function () {
                    //    hiddenLoading();
                    //},
                    success: function (data) {
                        $("#resultGallery").html(data);
                        itemCallback();
                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    }
                });
                return false;
            });

            $(".data-menu-len").click(function () {
                var menuCategory = $(this).parent().parent().siblings("a");
                var menuGender = menuCategory.parent().parent().siblings("a");

                alert($(this).text() + '|' + menuCategory.text() + '|' + menuGender.text());

                var sv = new SearchLogic();
                sv.reSet();

                sv.addLength($(this).text());
                sv.addCat(menuCategory.text());
                sv.addGender(menuGender.text());
                
                $.ajax({
                    url: '/Home/Search',
                    type: 'POST',
                    dataType: 'html',
                    contentType: 'application/json, charset=utf-8',
                    data: JSON.stringify(sv.toJson()),
                    cache: false,
                    //beforeSend: function () {
                    //    Loading();
                    //},
                    //complete: function () {
                    //    hiddenLoading();
                    //},
                    success: function (data) {
                        $("#resultGallery").html(data);
                        itemCallback();
                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    }
                });
                return false;
            });

            $(".data-menu-cat").click(function (e) {
                var menuCategory = $(this).parent().parent().siblings("a");

                alert($(this).text() + '|' + menuCategory.text());
            });

            $(".data-menu-gen").click(function (e) {
                
                alert($(this).text());
            });
        });
    </script>
}