@model EleniGeorge.Models.ShoppingBag.ShoppingBagModel

@{
    ViewBag.Title = "ShoppingBag";
}

@section header {
    @Html.Partial("_CommenHeader", @Model.account)
}

<div style="margin-bottom: 120px">

<h2 style="margin-left: 50px">SHOPPING BAG</h2>

<div style="margin-left: 30px; margin-right: 30px; width: 95%; height: 100%; border: 1px solid #808080">
</div>

<table border="1" width="95%" style="margin-left: 30px; margin-right: 30px">
	<tr style="border: 1px solid #808080; background-color: #808080">
        <th width="15px" border="1">
            <input type="checkbox" style="text-align: center">
        </th>
        <th>All</th>
        <th>PRODUCT DESCRIPTION</th>
        <th>QTY</th>
        <th>SUBTOTAL</th>
	</tr>

    @foreach (var item in @Model.items) 
    {
	    <tr style="border: 1px solid #808080; background-color: #fff">
            <th width="15px" border="1">
                <input type="checkbox" style="text-align: center">
            </th>
            <td>@item.Name</td>
            <td>@item.Name</td>
            <td>1</td>
            <td>@item.Price</td>
        </tr>
    }
</table>

<div style="margin-left: 30px; margin-right: 30px; width: 95%; background-color:#808080">
    <div style="padding: 30px 30px">
        <div style="font-size: 1.1em; font: bold; width: 200px" class="pull-left">Use a Voucher</div>
        <div class="pull-left" style="margin-left: 20px"> 
            <input type="text" />
        </div>
        <button class="btn" style="color: white; background-color: black; margin-left: 50px">APPLY</button>
    </div>
    <div style="padding: 10px 30px"> 
        (Once the "Apply" button is clicked and if the voucher code is valid, show summary of the offer here)
    </div>
    
    <div style="padding: 30px 30px">
        <div style="font-size: 1.1em; font: bold; width: 200px" class="pull-left">Enter Promo Code</div>
        <div class="pull-left" style="margin-left: 20px"> 
            <input type="text" />
        </div>
        <button class="btn" style="color: white; background-color: black; margin-left: 50px">APPLY</button>
    </div>
    <div style="padding: 10px 30px"> 
        (Once the "Apply" button is clicked and if the voucher code is valid, show summary of the offer here)
    </div>
    
    <div style="padding: 10px 30px"> 
        *    Conditions apply. No two vouchers, nor two promo codes, can be used in conjunction.
    </div>
</div>

<div class="pull-right row" style="margin-right: 50px; margin-top: 30px;">
    <button class="btn btn pull-right" style="color: white; background-color:black" id="md-buy">Place Order</button>
    <div class="pull-right" style="margin-right: 50px">
        TOTAL: 12345
    </div>
</div>
</div>